<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN-UP</title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <div>
        <label for="fullname">Full Name: </label>
        <input
          type="text"
          id="fullname"
          name="fullname"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="username">Enter Username: </label>
        <input
          type="text"
          name="username"
          id="username"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
      </div>
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
