:root {
  --primary-color: #b1b2ff;
  --secondary-color: #aac4ff;
  --accent-color: #d2daff;
  --accent-color2: #eef1ff;
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #333333fc;
  --accent-text-color: #424242fc;
}

button,
input[type="submit"] {
  all: unset; /* Resets all styles */
  background: transparent; /* Ensures background is transparent */
  border: none; /* Removes border */
  padding: 0; /* Removes default padding */
  font-size: inherit; /* Inherit font size from parent */
  cursor: pointer; /* Ensures pointer cursor on hover */
  outline: none; /* Removes default focus outline */
}

::-webkit-scrollbar {
  max-width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color2);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 15px; /* Curve the scrollbar and track */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--primary-color);
  font-family: "Exo 2";
  display: flex;
  flex-direction: column;
}

header {
  min-height: 10vh;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

header .logo {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "Delicious Handrawn";
}

header > nav {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 100px;
}

footer {
  bottom: 0;
  min-height: 5vh;
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px 0px;
}

footer a {
  text-decoration: underline;
  font-weight: 700;
  color: var(--secondary-text-color);
}

main {
  flex: 1;
  display: flex;
  color: var(--secondary-text-color);
}

/* temp */
main > * {
  border: 1px solid black;
}

.folders {
  /* temp */
  border: none;
  max-width: 320px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  max-height: 82vh;
  overflow-y: auto;
  align-self: center;
}

.folders > .folderNameForm {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
}

#openFolderNameInputBtn {
  /* 310px width total */
  min-width: 280px;
  padding: 20px 0px;
  padding-left: 20px;
  font-size: 32px;
  font-weight: bolder;
  box-shadow: 0px 5px 10px 10px rgb(0, 0, 0, 0.1);
}

#openFolderNameInputBtn:hover {
  background-color: var(--accent-color);
}

.folders .folderNameBtn {
  /* 300px width total */
  width: 250px;
  padding: 8px 0px;
  padding-left: 50px;
  text-overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.folderNameBtn:hover {
  background-color: var(--accent-color);
  font-weight: bold;
  color: var(--accent-text-color);
}

.files {
  flex: 1;
}

/* folder form */
.folderNameForm {
  position: relative;
}

.hidden-input {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  display: none;
  width: 200px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: var(--accent-text-color);
  background-color: var(--accent-color2);
}

.show {
  display: block;
}
